@model IEnumerable<RaZorWebxxx.Models.Product.Categoryproduct>
@using  RaZorWebxxx.Models.Product

@{
    ViewData["Title"] = "Chuyên Mục Sản Phẩm";
}

<h1> @ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Tạo Chuyên Mục</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            await Rendercategory(item);
        }
    </tbody>
</table>
@{

    async Task Rendercategory(Categoryproduct item)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategory.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi Tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
    }

}
