@using RaZorWebxxx.Views.Shared.Components.Categorysidebar
@using RaZorWebxxx.Models.Blog
@model Post
@{ 
    List<Category> categories = ViewBag.categories as List<Category>;
    Category category = ViewBag.category as Category;
    ViewData["Title"] = Model.Title;
    }
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        @if (category != null)
        {
            var li = category.ListParents();
            foreach (var l in li)
            {
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-route-categoryslug="@l.Slug">@l.Title</a>
                </li>
            }
            <li class="breadcrumb-item">
                <a asp-action="Index" asp-route-categoryslug="@category.Slug">@category.Title</a>
            </li>
        }
    </ol>
</nav>





<div class="detailpost">
    <h1>@Model.Title</h1>
    <div class="sapo">@Model.Description</div>
    <div>
        <i>Cập Nhật :@Model.DateUpdated</i> /
      Tác Giả : <strong>@Model.Author.UserName</strong>
    </div>
    <hr />
    @Html.Raw(Model.Content)


</div>

@section Sidebar{
    @await Component.InvokeAsync("RaZorWebxxx.Views.Shared.Components.Categorysidebar.Categorysidebar", new Categorysidebar.CategorysidebarData()
{
    Categories = categories,
    level = 0,
    categoryslug = ViewBag.categoryslug


}
    )
}
