@model RaZorWebxxx.Areas.Products.Models.CreateProductModel

@{
    ViewData["Title"] = "Cập Nhật Sản Phẩm";
    var list = ViewData["categories"] as MultiSelectList;

}

<h1>@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="CategoryIDs" class="control-label"></label>
                <select asp-for="CategoryIDs" multiple="multiple" asp-items="list" class="w-100"></select>
                <span asp-validation-for="CategoryIDs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <input class="collapse" type="file" id="selectfileupload" onchange="Autouploadphoto()" />
            <span class="btn btn-primary" onclick="Clickbuttonupload()">Uploads hình ảnh</span>

            <div id="box-photo-upload" class="d-flex flex-wrap photo-upload" data-id="@Model.ProductId">

            </div>





            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                </label>
            </div>


            <div class="form-group">
                <input type="submit" value="Cập Nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách sản phẩm</a>
</div>
@{
    var summbernote = new RaZorWebxxx.Models.Summernote("#Content")
    {
        height = 500
    };
}
<partial name="_SummerNote" model="summbernote" />
@section Scripts {
    <script src="~/lib/multipe/multiple-select.min.js"></script>
    <link href="~/lib/multipe/multiple-select.min.css" rel="stylesheet" />
    <script>
        $("#CategoryIDs").multipleSelect({

            selectAll: false,
            keepOpen: false,
            isOpen: false,
        });</script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        function Clickbuttonupload() {
            $("#selectfileupload").click();
        }
        function Autouploadphoto() {

            var formData = new FormData();
            var id = $("#box-photo-upload").data("id");
            formData.append("id", id);
            var sofile = document.getElementById("selectfileupload").files.length;
            if (sofile == 0) return;
            var fileData =document.getElementById("selectfileupload").files[0];
            formData.append("FileUpload",fileData)
            var urlupload = "@Url.Action("UploadPhotoApI")";
            $.ajax({
                data: formData,
                cache: false,
                url: urlupload,
                type: "POST",
                contentType: false,
                processData: false,

                success: function (data) {
                    LoadPhotos();



                }
            });

        }

        function DeletePhoto() {
            $("#box-photo-upload .photodetails span").click(function () {
                var spanbutton = $(this);
                var id = spanbutton.data("id");
                var formData = new FormData();
            formData.append("id", id);
            var urldeletephoto = "@Url.Action("DeletePhoto")";
            $.ajax({
                data: formData,
                cache: false,
                url: urldeletephoto,
                type: "POST",
                contentType: false,
                processData: false,

                success: function (data) {
                    LoadPhotos();



                }
            });

            });

        }
        function LoadPhotos() {
            var box = $("#box-photo-upload");
            var ProductId = box.data("id");
            box.empty();
            var formData = new FormData();
            formData.append("id", ProductId);
            var urlistphoto = "@Url.Action("ListPhotos")";
            $.ajax({
                data: formData,
                cache: false,
                url: urlistphoto,
                type: "POST",
                contentType: false,
                processData: false,

                success: function (data) {


                    data.photos.forEach(function (item) {
                        console.log(item.id);
                        console.log(item.path);
                      var e=$('<div class="photodetails w-25 p-1">'
                            + '<img class="w-100" src="'+item.path+'"/>'
                          + ' <span class="btn btn-danger" data-id="' +item.id+ '">Delete</span> </div>');
                        box.append(e);

                    });
                    DeletePhoto();

                }
            });
        }


            $(document).ready(function () {
                LoadPhotos();


            });



    </script>
}
