@model IEnumerable<RaZorWebxxx.Models.Product.ProducModel>

@{
    ViewData["Title"] = "Danh Sách Sản Phẩm";
}

<h1>@ViewData["Title"]</h1>
<partial name="_Alertmess"/>
<p>
    <a asp-action="Create">Tạo Sản Phẩm Mới</a>
</p>
<p>Tống Số Sản Phẩm :  @ViewBag.totalPosts</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@(++ViewBag.postIndex)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId"> @Html.DisplayFor(modelItem => item.Title)</a>
                <br />
                <small> @string.Join(", ", item.ProductCategoryproducts.Select(pc => pc.Category.Title))</small>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                |
                <a asp-action="Details" asp-route-id="@item.ProductId">Chi Tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Xóa</a>
            </td>
        </tr>
        }
    </tbody>
</table>



<partial name="_PagingXTL" model="@ViewBag.pagingModel" />
