@model RaZorWebxxx.Areas.Products.ProductManageController.UploadOneFile



@{
    ProducModel product = ViewData["product"] as ProducModel;
}


<h1>uploadphoto :@product.Title</h1>
<form method="post" enctype="multipart/form-data">
    <label asp-for="@Model.FileUpload"></label>
    <input asp-for="@Model.FileUpload" />
    <span asp-validation-for="@Model.FileUpload"></span>
    <button class="btn btn-primary" asp-action="UploadPhoto" asp-route-id="@product.ProductId">Upload</button>

</form>
<hr />
<input class="collapse"  type="file" id="selectfileupload" onchange="Autouploadphoto()" />
<span class="btn btn-primary" onclick="Clickbuttonupload()">Uploads</span>

<div id="box-photo-upload" class="d-flex flex-wrap photo-upload" data-id="@product.ProductId">
  
</div>
@section Scripts {
    

    <script>
        function Clickbuttonupload() {
            $("#selectfileupload").click();
        }
        function Autouploadphoto() {
        
            var formData = new FormData();
            var id = $("#box-photo-upload").data("id");
            formData.append("id", id);
            var sofile = document.getElementById("selectfileupload").files.length;
            if (sofile == 0) return;
            var fileData =document.getElementById("selectfileupload").files[0];
            formData.append("FileUpload",fileData)
            var urlupload = "@Url.Action("UploadPhotoApI")";
            $.ajax({
                data: formData,
                cache: false,
                url: urlupload,
                type: "POST",
                contentType: false,
                processData: false,

                success: function (data) {
                    LoadPhotos();



                }
            });

        }

        function DeletePhoto() {
            $("#box-photo-upload .photodetails span").click(function () {
                var spanbutton = $(this);
                var id = spanbutton.data("id");
                var formData = new FormData();
            formData.append("id", id);
            var urldeletephoto = "@Url.Action("DeletePhoto")";
            $.ajax({
                data: formData,
                cache: false,
                url: urldeletephoto,
                type: "POST",
                contentType: false,
                processData: false,

                success: function (data) {
                    LoadPhotos();



                }
            });

            });

        }
        function LoadPhotos() {
            var box = $("#box-photo-upload");
            var ProductId = box.data("id");
            box.empty();
            var formData = new FormData();
            formData.append("id", ProductId);
            var urlistphoto = "@Url.Action("ListPhotos")";
            $.ajax({
                data: formData,
                cache: false,
                url: urlistphoto,
                type: "POST",
                contentType: false,
                processData: false,

                success: function (data) {


                    data.photos.forEach(function (item) {
                        console.log(item.id);
                        console.log(item.path);
                      var e=$('<div class="photodetails w-25 p-1">'
                            + '<img class="w-100" src="'+item.path+'"/>'
                          + ' <span class="btn btn-danger" data-id="' +item.id+ '">Delete</span> </div>');
                        box.append(e);

                    });
                    DeletePhoto();

                }
            });
        }


            $(document).ready(function () {
                LoadPhotos();


            });



    </script>
}


